/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --text-color-main: #757575;
  --title-text-color-light: #ffffff;
  --title-text-color-dark: #212121;

  --bg-color-main: #ffffff;
  --bg-color-light: #f5f4fa;
  --bg-color-dark: #2f303a;

  --logo-right: #000000;
  --accent-color: #2196f3;
  --frame-color: #eeeeee;
  --border-bottom-color: #ececec;

  --logo-font: 'Raleway', sans-serif;
  --main-font: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Утилитарные классы */
.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.address {
  font-style: normal;
}

.btn-collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 34px;
}

.button {
  display: inline-block;
  margin-left: 8px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  background-color: var(--bg-color-light);
  color: var(--title-text-color-dark);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color-light);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-left {
  color: var(--accent-color);
}

.logo-right {
  color: var(--logo-right);
}

.hero-section {
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--bg-color-dark);
}

.title-heroe {
  padding-top: 200px;
  padding-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-text-color-light);
}

.btn-heroe {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--title-text-color-light);
  background-color: var(--accent-color);
}

.title-section {
  padding-bottom: 10px;
  padding-left: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color-dark);
}

.text-section {
  padding-left: 30px;
  font-size: 14px;
  line-height: 1.71;
}

.title-page {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color-dark);
}

.grey-bg {
  background-color: var(--bg-color-light);
}

.title-card {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color-dark);
  background-color: var(--bg-color-main);
}

.text-card {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: var(--bg-color-main);
}

/* Галерея портфолио */
.caption-card {
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color-dark);
}

.desc-card {
  padding-left: 24px;
  font-size: 16px;
  line-height: 1.87;
}
.current {
  color: var(--accent-color);
}

.page-header {
  background-color: var(--bg-color-main);
}

.header-pos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-pos-portfolio {
  border-bottom: solid 1px var(--border-bottom-color);
}

.main-nav {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  align-items: center;
}

.nav-item {
  padding-left: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-item:first-child {
  padding-left: 93px;
}

.header-contacts {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding-right: 15px;
}

.contacts-item {
  padding-left: 50px;
}

.heroe-section {
  display: flex;
  margin-bottom: 94px;
}

.values-list {
  display: flex;
  padding-top: 94px;
}

.values-item {
  padding-bottom: 94px;
}
.activity-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.team-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: var(--bg-color-light);
}

.footer {
  padding-top: 60px;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.footer-contacts {
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-dark);
}

.galery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 94px;
}

.galery-item {
  margin-right: 15px;
  margin-top: 15px;
}

.frame-portfolio-card {
  border-left: 1px solid var(--frame-color);
  border-right: 1px solid var(--frame-color);
  border-bottom: 1px solid var(--frame-color);
}

.galery-item:nth-child(-n + 3) {
  margin-top: 0;
}

.galery-item:nth-child(3n + 3) {
  margin-right: 0;
}
